**.dblite
**.vvp
**.vcd
**.log
env.sh
ipcore_dir/**.elf
ipcore_dir/**.tcl
ipcore_dir/**.asy
ipcore_dir/**.cgc
ipcore_dir/**.bmm
ipcore_dir/**.gise
ipcore_dir/**.ngc
ipcore_dir/**.v
ipcore_dir/**.veo
ipcore_dir/**.txt
ipcore_dir/**.xml
ipcore_dir/**.xdc
ipcore_dir/**.ucf
ipcore_dir/**.ncf
ipcore_dir/**.sym
ipcore_dir/**.mem
ipcore_dir/microblaze_mcs_v1_4/
ipcore_dir/mbsoc_clk_gen/
ipcore_dir/tmp/
ipcore_dir/_xmsgs/
iseconfig/
testbench/
syn/
