# TMDS/I2C IOs on Mojo HDMI shield

NET "hdmi1_sda" LOC = P2 | IOSTANDARD = LVTTL;
NET "hdmi1_scl" LOC = P1 | IOSTANDARD = LVTTL;

NET "hdmi1_tmds<3>"   LOC = P144 | IOSTANDARD = TMDS_33 | CLOCK_DEDICATED_ROUTE = FALSE; # Clock
NET "hdmi1_tmdsb<3>"  LOC = P143 | IOSTANDARD = TMDS_33 | CLOCK_DEDICATED_ROUTE = FALSE;
NET "hdmi1_tmds<2>"   LOC = P138 | IOSTANDARD = TMDS_33; # Red
NET "hdmi1_tmdsb<2>"  LOC = P137 | IOSTANDARD = TMDS_33;
NET "hdmi1_tmds<1>"   LOC = P140 | IOSTANDARD = TMDS_33; # Green
NET "hdmi1_tmdsb<1>"  LOC = P139 | IOSTANDARD = TMDS_33;
NET "hdmi1_tmds<0>"   LOC = P142 | IOSTANDARD = TMDS_33; # Blue
NET "hdmi1_tmdsb<0>"  LOC = P141 | IOSTANDARD = TMDS_33;

NET "hdmi2_sda" LOC = P111 | IOSTANDARD = LVTTL;
NET "hdmi2_scl" LOC = P112 | IOSTANDARD = LVTTL;

NET "hdmi2_tmds<3>"   LOC = P121 | IOSTANDARD = TMDS_33 | CLOCK_DEDICATED_ROUTE = FALSE; # Clock
NET "hdmi2_tmdsb<3>"  LOC = P120 | IOSTANDARD = TMDS_33 | CLOCK_DEDICATED_ROUTE = FALSE;
NET "hdmi2_tmds<2>"   LOC = P115 | IOSTANDARD = TMDS_33; # Red
NET "hdmi2_tmdsb<2>"  LOC = P114 | IOSTANDARD = TMDS_33;
NET "hdmi2_tmds<1>"   LOC = P117 | IOSTANDARD = TMDS_33; # Green
NET "hdmi2_tmdsb<1>"  LOC = P116 | IOSTANDARD = TMDS_33;
NET "hdmi2_tmds<0>"   LOC = P119 | IOSTANDARD = TMDS_33; # Blue
NET "hdmi2_tmdsb<0>"  LOC = P118 | IOSTANDARD = TMDS_33;
