# MicroBlaze SoC peripheral IOs

NET "uart0_tx" LOC = P58 | IOSTANDARD = LVTTL;
NET "uart0_rx" LOC = P67 | IOSTANDARD = LVTTL;

NET "pdm<0>" LOC = P92 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "pdm<1>" LOC = P93 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "pdm<2>" LOC = P94 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "pdm<3>" LOC = P95 | IOSTANDARD = LVTTL | SLEW = FAST;

NET "i2cm_sda" LOC = P50 | IOSTANDARD = LVTTL | PULLUP;
NET "i2cm_scl" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;
